body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
}

header{
    background-color: red;
    grid-column: x0 / x3;
    padding: .5rem;
}

nav{
    background-color: black;
    color: white;
    grid-column: x0 / x2;
    /* padding: .5rem; */
}

section{
    background-color: orange;
    /* padding: .5rem; */
}

footer{
    background-color: green;
    /* padding: .5rem; */
    grid-column: x0 / x3;
}