body{
    background-color: rgba(133, 133, 133, 0.514);
}

h1{
    text-align: center;
    color: rgb(155, 0, 0);
}

#contenedor{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#serie{
    padding: 1rem;
    width: 25rem;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

#imagen{
    /* border: 1px solid green; */
    width: 80%;
}

#imagen>img{
    width: 100%;
}