section{
    display: flex;
}

div{
    width: 5rem;
    height: 5rem;
    background-color: blue;
    margin: 1rem;
    color: white;
}

#tres{
    background-color: red;
    order: -1;
}

#dos{
    background-color: yellow;
    color: black;
    order: 1;
}

img{
    width: 30rem;
}

@media (min-width: 820px){
    #imagen{
        content: url('imagen2.jpg');
        width: 50rem;
    }
}